---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <p style="padding-left:10px"> Hey there! I'm Leon Liang, and I currently work at Microsoft as a Software Engineer for Core Services Engineering. You can find out more about me using the links up top. You can also
    check out my blog posts below.</p>
</div>

<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

